Spring/UltraTT/UttGameSessionService/Connected Services/ServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGameSessionMoveDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameSessionMoveDto" nillable="true" type="tns:GameSessionMoveDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameSessionMoveDto" nillable="true" type="tns:ArrayOfGameSessionMoveDto" />
  <xs:complexType name="GameSessionMoveDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BigCell" type="xs:int" />
      <xs:element minOccurs="0" name="IsCross" type="xs:boolean" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSessionMoveDto" nillable="true" type="tns:GameSessionMoveDto" />
</xs:schema>