Spring/UltraTT/UttUserService/Connected Services/ServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="StatDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CrossWinrate" type="xs:double" />
      <xs:element minOccurs="0" name="NoughtWinrate" type="xs:double" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="TotalWinrate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatDto" nillable="true" type="tns:StatDto" />
</xs:schema>