Spring/UltraTT/UttUserService/Connected Services/ServiceRef/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserService.Dto" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Auth_InputMessage">
    <wsdl:part name="parameters" element="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="IUserService_Auth_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Reg_InputMessage">
    <wsdl:part name="parameters" element="tns:Reg" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetTop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScore" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetStat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStat" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Auth">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Auth" message="tns:IUserService_Auth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AuthResponse" message="tns:IUserService_Auth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Reg" message="tns:IUserService_Reg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetTop" message="tns:IUserService_GetTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetTopResponse" message="tns:IUserService_GetTop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetScore" message="tns:IUserService_GetScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetScoreResponse" message="tns:IUserService_GetScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStat">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetStat" message="tns:IUserService_GetStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetStatResponse" message="tns:IUserService_GetStat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Auth">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Auth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Reg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetTop">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetTop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStat">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetStat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="NetTcpBinding_IUserService" binding="tns:NetTcpBinding_IUserService">
      <soap12:address location="net.tcp://localhost:13000/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:13000/UserService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALEXANDER-PC\Alom2_000</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>