Spring/UltraTT/UttGameService/Connected Services/Session/GameSessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameSessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameSessionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameService.GameSession" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameSessionService_SetupSession_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupSession" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_SetupSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_Step_InputMessage">
    <wsdl:part name="parameters" element="tns:Step" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_Step_OutputMessage">
    <wsdl:part name="parameters" element="tns:StepResponse" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_Sync_InputMessage">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_Sync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_SendStep_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendStep" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_SendStep_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendStepResponse" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_SyncRoles_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SyncRoles" />
  </wsdl:message>
  <wsdl:message name="IGameSessionService_SyncRoles_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SyncRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameSessionService">
    <wsdl:operation name="SetupSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionService/SetupSession" message="tns:IGameSessionService_SetupSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionService/SetupSessionResponse" message="tns:IGameSessionService_SetupSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Step">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionService/Step" message="tns:IGameSessionService_Step_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionService/StepResponse" message="tns:IGameSessionService_Step_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionService/Sync" message="tns:IGameSessionService_Sync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionService/SyncResponse" message="tns:IGameSessionService_Sync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStep">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionService/SendStep" message="tns:IGameSessionService_SendStep_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionService/SendStepResponse" message="tns:IGameSessionService_SendStep_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncRoles">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameSessionService/SyncRoles" message="tns:IGameSessionService_SyncRoles_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameSessionService/SyncRolesResponse" message="tns:IGameSessionService_SyncRoles_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameSessionService" type="tns:IGameSessionService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameSessionService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetupSession">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionService/SetupSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Step">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionService/Step" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionService/Sync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStep">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionService/SendStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncRoles">
      <soap12:operation soapAction="http://tempuri.org/IGameSessionService/SyncRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameSessionService">
    <wsdl:port name="NetTcpBinding_IGameSessionService" binding="tns:NetTcpBinding_IGameSessionService">
      <soap12:address location="net.tcp://localhost:13001/GameSessionService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:13001/GameSessionService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALEXANDER-PC\Alom2_000</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>